@light_blue: #1F78FF;

* {
    box-sizing: border-box;
    transition: all 125ms ease-out;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 600px;
    margin: 50px auto;
}

body {
    color: #333;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    margin: 50px 0 10px 0;
    color: #999;
}
