{% extends "magnovite/dist/base_internal.html" %}
{% load l10n %}

{% block "extra_css" %}
<link rel="stylesheet" href="/static/css/lib/purelib.css">
{% endblock "extra_css" %}

{% block "content" %}
<div class="container">
    {% if type == 'workshop' %}
    <h1>{{workshop.title}}</h1>

    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>S.No</th>
                <th>ID</th>
                <th>Name</th>
                <th>College</th>
                <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr class="{% if forloop.counter|divisibleby:2 %}pure-table-odd{% endif %}">
                <td>{{forloop.counter}}</td>
                <td>{{profile.user.get_id|unlocalize}}</td>
                <td>{{profile.name}}</td>
                <td>{{profile.college}}</td>
                <td>{{profile.mobile}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>
{% endblock "content" %}
