.button {
    display: inline-block;
    height: 40px;
    padding: 10px 40px;
    background: #000436;
    color: #7A74FF;
    text-decoration: none;
    border: 1px solid #040E83;
}

.button:hover {
    border: 1px solid #4D5AEE;
}
