.logo-mobile {
	display: none;
}

.mobile {
	@mobile_banner: 60px;

	.access {
		display: none;
	}

	.banner {
		z-index: 999;
	}

	.modal-active.modal {
		z-index: 10000;
	}

	.banner {
		height: @mobile_banner;

		.banner-inner {
			height: @mobile_banner;
		}
	}

	.logo {
		width: auto;
		height: @mobile_banner;
		padding: 5px 0;

		a {
			display: block;
		}

		.logo-desktop {
			display: none;
		}

		.logo-mobile {
			display: block;
			height: @mobile_banner - 10px;
		}
	}

	.user-settings {
		height: @mobile_banner;
		line-height: @mobile_banner;

		a {
			line-height: @mobile_banner - 10px;
		}
	}

	p.help-text {
		color: rgba(0, 0, 0, 0.8);
		padding: 2px;
	}
}

.mobile.modal-view {
	overflow: hidden;
	position: fixed;
}
