* {
    box-sizing: border-box;
    transition: all 125ms ease-out;
}

html, body {
    font-family: 'Arial', 'Helvetica', sans-srif;
    margin: 0;
    padding: 0;
    background: @dark_blue;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    color: inherit;
}

h3 {
    font-size: 24px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

::-webkit-scrollbar-track {
    background: #000413;
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(6, 146, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(6, 146, 255);
}
