@c_bulb_section_background: #03175f;

@section_width: 1200px;
@bulb_pane_width: @section_width/2;

// whole section in the page
.bulb-section {
    width: 100%;
    height: @bulb_height + 40px;
    background: @c_bulb_section_background;
    padding: 20px;

    .container {
        width: @section_width;
    }
}

.pane {
    float: left;
    width: @section_width/2;
    height: 100%;
    transition: all 300ms ease-out;
}

.bulb-section .right-pane {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 600ms;
}

.bulb-section .bulb-pane {
    transform: translateX(0);
    transition: all 250ms ease-in;
}

// loading animation
.bulb-section.preload {
    .right-pane {
        transform: translateY(-10px);
        opacity: 0;
    }

    .bulb-pane {
        transform: translateX(@section_width/4);
    }
}
