/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/Hgo13k-tfSpn0qi1SFdUfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/d-6IYplOFocCacKzxwXSOBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  box-sizing: border-box;
  transition: all 125ms ease-out;
}
html,
body {
  font-family: 'Arial', 'Helvetica', sans-srif;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  color: inherit;
}
h3 {
  font-size: 24px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.container {
  width: 1120px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  color: rgba(77, 205, 255, 0.8);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2 {
  display: block;
  font-size: 24px;
}
em {
  font-weight: bold;
}
.button {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 40px;
  margin-right: -0.3em;
  background: #00002C;
  border: 1px solid #000031;
  color: rgba(255, 255, 255, 0.8);
  transition: all 350ms ease-out;
}
.button:hover {
  box-shadow: 0px 0px 7px rgba(95, 236, 255, 0.26);
  border: 1px solid rgba(77, 205, 255, 0.8);
  background: #006BA7;
  color: rgba(255, 255, 255, 0.85);
}
.button:focus {
  outline: none;
}
.progress-button {
  position: relative;
}
.progress-button .progress,
.progress-button .done {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.progress-button .progress,
.progress-button .done {
  visibility: hidden;
  opacity: 0;
  transform: translateX(20px);
}
.progress-button.start .progress {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.progress-button.start .text {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
}
.progress-button.done .done {
  color: rgba(77, 205, 255, 0.8);
  text-shadow: 0px 0px 1px rgba(77, 205, 255, 0.8);
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.progress-button.done .text {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
}
input {
  height: 38px;
  line-height: 38px;
  padding: 0px 10px;
  background: #00002C;
  border: 1px solid #000031;
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-size: 16px;
}
input:hover {
  color: rgba(255, 255, 255, 0.9);
}
input:focus {
  color: rgba(255, 255, 255, 0.9);
  outline: none;
  border: 1px solid rgba(77, 205, 255, 0.8);
}
.banner {
  width: 100%;
  height: 100px;
  background: #0529a9;
}
#canvas {
  background: #03175f;
  vertical-align: bottom;
}
.landing {
  height: 700px;
  background: #03175f;
}
.landing-bar {
  background: #00021a;
  box-shadow: inset 0px 10px 50px -10px #000000;
  height: 250px;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.timer {
  margin-top: 20px;
}
.timer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .landing {
    height: auto;
  }
  #canvas {
    display: block;
    position: static;
  }
  .landing-bar {
    height: auto;
  }
  .timer {
    display: block;
    height: auto;
    position: static;
  }
}
@-moz-keyframes bounce {
  0% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
  }
  30% {
    transform: translateY(-19px);
    -webkit-animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
  }
  30% {
    transform: translateY(-19px);
    -webkit-animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
  }
  30% {
    transform: translateY(-19px);
    -webkit-animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
  }
}
.down-arrow {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  transform: translateY(-30px);
}
.down-arrow img {
  display: block;
  height: 20px;
  animation: bounce 1300ms infinite;
  -webkit-animation: bounce 1300ms infinite;
  margin: 0 auto;
  opacity: 0.4;
}
.down-arrow img:hover {
  box-sizing: content-box;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  cursor: pointer;
  -webkit-animation-play-state: paused;
}
.logo-interacted .down-arrow {
  opacity: 0;
}
.hide-arrow .down-arrow {
  display: none;
}
.timer-block {
  display: inline-block;
  height: 220px;
  width: 140px;
}
@media only screen and (max-width: 767px) {
  .timer-block {
    margin: 10px 0;
    width: 150px;
  }
  .timer-block:last-child {
    display: none;
  }
}
.timer-block .numeric {
  color: rgba(39, 91, 255, 0.85);
  font-size: 46px;
  height: 70px;
  line-height: 70px;
  opacity: 1;
  transition: all 250ms ease-in;
}
.desktop .timer-block .numeric {
  opacity: 0;
  transform: translateY(10px);
}
.desktop.logo-done .timer-block .numeric {
  opacity: 0.7;
  transform: translateY(0);
}
.timer-block .description {
  color: rgba(39, 91, 255, 0.85);
  font-size: 14px;
  height: 30px;
  letter-spacing: 6px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.desktop .timer-block .description {
  opacity: 0.2;
  transition: all 500ms ease-out 1000ms;
}
.desktop.logo-done .timer-block .description {
  opacity: 1;
}
.timer-block .binary {
  height: auto;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}
.binary .bin-col {
  display: inline-block;
  margin: 5px 5px 0 5px;
  text-align: center;
  width: 20px;
}
.binary .dot {
  background: #002466;
  border-radius: 10px;
  border: 1px solid #000342;
  display: inline-block;
  height: 10px;
  margin: 5px auto;
  width: 10px;
  transition: all 125ms ease-out;
}
.desktop .binary .dot {
  transform: translateY(10px);
  opacity: 0;
}
.desktop.logo-done .binary .dot {
  opacity: 1;
  transform: translateY(0px);
}
.desktop .binary .dot:nth-child(4) {
  transition: opacity 250ms ease-in 225ms, transform 125ms ease-in 225ms;
}
.desktop .binary .dot:nth-child(3) {
  transition: opacity 250ms ease-in 250ms, transform 125ms ease-in 250ms;
}
.desktop .binary .dot:nth-child(2) {
  transition: opacity 250ms ease-in 300ms, transform 125ms ease-in 300ms;
}
.desktop .binary .dot:nth-child(1) {
  transition: opacity 250ms ease-in 350ms, transform 125ms ease-in 350ms;
}
.binary .dot.on {
  background: #80FF00;
  border: 1px solid #99FF00;
  box-shadow: 0px 0px 15px 0px rgba(128, 255, 0, 0.49);
}
.timer-banner {
  background: rgba(128, 255, 0, 0.3);
  position: absolute;
  bottom: 250px;
  left: 0;
  width: 100%;
  height: 35px;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  transition: all 250ms ease-out;
  pointer-events: none;
}
.logo-interacted .timer-banner {
  opacity: 1;
  pointer-events: all;
}
.timer-banner .button {
  display: inline-block;
  height: 35px;
  padding: 0px 35px;
  transition: all 450ms ease-out;
  border: 0;
}
.button.green {
  font-size: 16px;
  line-height: 35px;
  text-transform: uppercase;
  background: #85f70a;
  color: #002688;
}
.timer-banner .button:hover {
  transition: all 125ms ease-out;
  cursor: pointer;
  padding: 0px 15%;
  text-align: center;
}
.game-mode .timer-banner {
  opacity: 0;
  display: none;
}
.game-mode .timer {
  transform: translateX(-100%);
}
.game-bar {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.desktop .game-bar {
  display: block;
  transform: translateX(100%);
}
.game-mode .game-bar {
  transform: translateX(0);
}
.game-bar .progress {
  width: 100%;
  height: 7px;
  background: #000;
}
.game-bar .progress-inner {
  width: 150px;
  height: 100%;
  margin: 0 auto;
}
.game-bar .progress-inner.curr {
  background: #616dff;
}
.game-bar .progress-inner.max {
  background: #2332df;
}
.game-bar-inner {
  width: 990px;
  height: 236px;
  /* 250 - 7*2 */
  margin: 0 auto;
}
.game-bar .col {
  width: 330px;
  height: 100%;
  float: left;
  color: #7679b3;
  text-align: left;
  transition: all 250ms ease-out;
}
/**
 * game-bar score
 */
.game-bar .score-col .score {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 250px;
  height: 150px;
  border: 8px solid #1d28ad;
  background: #010212;
  color: #616DFF;
  font-size: 48px;
  line-height: 124px;
  text-align: center;
}
.game-bar .score-col {
  position: relative;
}
.score-col .left {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  border-right: 4px solid #1d28ad;
}
.score-col .right {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  border-left: 4px solid #1d28ad;
}
/**
 * Game bar left
 */
.game-bar .left-col {
  line-height: 1.2em;
  padding: 30px 0;
}
.game-bar .left-col p {
  margin-top: 10px;
}
.game-bar .left-col h3 {
  font-weight: normal;
}
.game-bar .button {
  margin: 30px 20px 0 0;
}
/**
 * Game bar right
 */
.game-bar .right-col {
  padding: 30px 0;
  text-align: center;
}
.game-bar .right-col .score-block {
  border: 2px solid #00075F;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-right: 15px;
  margin-top: 27px;
}
.game-bar .score-block h4 {
  display: block;
  color: rgba(255, 255, 255, 0.51);
  background: #1d28ad;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
}
.game-bar .score-block p {
  height: 76px;
  background: #00021D;
  box-shadow: inset 0px 0px 20px #000;
  line-height: 76px;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.81);
}
.game-bar .score-block.curr p {
  font-weight: normal;
}
.game-playing .game-bar .left-col {
  transform: translateX(-50%);
  opacity: 0;
}
.game-playing .game-bar .right-col {
  transform: translateX(50%);
  opacity: 0;
}
/*Score Reset Button positioning */
.js-reset {
  float: right;
}
.landing .top-banner {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #03175f);
}
.landing .top-banner .inner-banner {
  width: 1000px;
  margin: 0 auto;
}
.landing .top-banner .christ {
  height: 60px;
}
.bulb-section {
  width: 100%;
  height: 687px;
  background: #03175f;
  padding: 20px;
  position: relative;
}
.bulb-section .container {
  width: 1200px;
}
.bulb-section .backdrop {
  width: 500px;
  height: 500px;
  background-repeat: none;
  background-size: 500px 500px;
  background-position: center center;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.pane {
  float: left;
  width: 600px;
  height: 100%;
  transition: all 300ms ease-out;
}
.bulb-section .right-pane {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 600ms;
}
.bulb-section .bulb-pane {
  transform: translateX(0);
  transition: all 250ms ease-in;
}
.bulb-section.preload .right-pane {
  transform: translateY(-10px);
  opacity: 0;
}
.bulb-section.preload .bulb-pane {
  transform: translateX(300px);
}
.bulb-section.c1 .backdrop {
  background-image: url('/static/img/technical.png');
}
.bulb-section.c2 .backdrop {
  background-image: url('/static/img/exhibition.png');
}
.bulb-section.c3 .backdrop {
  background-image: url('/static/img/pronight.png');
}
.bulb-section.c4 .backdrop {
  background-image: url('/static/img/workshop.png');
}
.bulb-section.c5 .backdrop {
  background-image: url('/static/img/cultural.png');
}
.bulb-section.c6 .backdrop {
  background-image: url('/static/img/talk.png');
}
.bulb {
  height: 647px;
  width: 460px;
  margin: 0 auto;
  position: relative;
}
.bulb .background {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 460px;
  height: 617px;
}
.hexagon {
  width: 200px;
  height: 230.94010768px;
  position: absolute;
  top: 130px;
  left: 130px;
  right: 130px;
}
.circle {
  width: 72px;
  height: 72px;
  border-radius: 36px;
  position: absolute;
  cursor: pointer;
  border: 2px solid #0a237e;
  background: #17208d;
}
.circle img {
  display: block;
  width: auto;
  height: 40px;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.4, 0.4);
  opacity: 0.4;
  transition: all 250ms ease-out;
  transition-delay: 100ms;
}
.circle.c2 img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}
.circle.c5 img {
  width: 45px;
  height: 45px;
  margin-top: 12px;
}
.circle .cover {
  width: 68px;
  height: 68px;
  border-radius: 36px;
  position: absolute;
  top: 0;
  left: 0;
  background: #03175f;
  border: 2px solid #03175f;
  transition: all 300ms ease-out;
}
.circle:hover .cover {
  background: none;
  border: none;
}
.circle:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all 125ms ease-out;
  border: 2px solid #98D1FD;
  box-shadow: 0px 0px 60px 2px rgba(95, 236, 255, 0.26);
  background: #0099FF;
}
.hex-load .circle {
  border: 2px solid rgba(118, 182, 252, 0.9);
}
.hex-load .circle img {
  transform: scale(1, 1);
  opacity: 1;
}
.hex-load .circle:hover .cover {
  transition-delay: 0;
  background: none;
}
.hex-load .circle .cover {
  background: rgba(0, 20, 170, 0.15);
  border: none;
}
.circle.c1 {
  left: 64px;
  top: -36px;
}
.circle.c1 img {
  transition-delay: 1000ms;
}
.circle.c1 .cover {
  transition-delay: 1000ms;
}
.circle.c2 {
  right: -36px;
  top: 21.73502692px;
}
.circle.c2 img {
  transition-delay: 600ms;
}
.circle.c2 .cover {
  transition-delay: 600ms;
}
.circle.c3 {
  right: -36px;
  bottom: 21.73502692px;
}
.circle.c3 img {
  transition-delay: 200ms;
}
.circle.c3 .cover {
  transition-delay: 200ms;
}
.circle.c4 {
  bottom: -36px;
  left: 64px;
}
.circle.c4 img {
  transition-delay: 0;
}
.circle.c4 .cover {
  transition-delay: 0;
}
.circle.c5 {
  left: -36px;
  bottom: 21.73502692px;
}
.circle.c5 img {
  transition-delay: 200ms;
}
.circle.c5 .cover {
  transition-delay: 200ms;
}
.circle.c6 {
  left: -36px;
  top: 21.73502692px;
}
.circle.c6 img {
  transition-delay: 600ms;
}
.circle.c6 .cover {
  transition-delay: 600ms;
}
.line {
  width: 115.47005384px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #03175f;
}
.inner-line {
  border: 1px solid #98D1FD;
  width: 0;
  box-shadow: 0px 0px 60px 2px rgba(95, 236, 255, 0.4);
  background: #0099FF;
  transition: all 400ms ease-out;
}
.hex-load .inner-line {
  width: 100%;
}
.line.l1 {
  left: 200px;
  top: 57.73502692px;
  transform: rotate(-150deg);
  transform-origin: left center;
}
.line.l1 .inner-line {
  transition-delay: 800ms;
}
.line.l2 {
  left: 200px;
  top: 173.20508076px;
  transform: rotate(-90deg);
  transform-origin: left;
}
.line.l2 .inner-line {
  transition-delay: 400ms;
}
.line.l3 {
  left: 100px;
  top: 230.94010768px;
  transform: rotate(-30deg);
  transform-origin: left;
}
.line.l3 .inner-line {
  transition-delay: 0;
}
.line.l4 {
  left: 100px;
  top: 230.94010768px;
  transform: rotate(-150deg);
  transform-origin: left;
}
.line.l4 .inner-line {
  transition-delay: 0;
}
.line.l5 {
  left: 0;
  top: 173.20508076px;
  transform: rotate(-90deg);
  transform-origin: left;
}
.line.l5 .inner-line {
  transition-delay: 400ms;
}
.line.l6 {
  left: 0;
  top: 57.73502692px;
  transform: rotate(-30deg);
  transform-origin: left;
}
.line.l6 .inner-line {
  transition-delay: 800ms;
}
.hexagon svg {
  width: 200px;
  height: 230.94010768px;
  margin-left: 10px;
}
.path {
  transition: all 2s linear;
  transition-delay: 1200ms;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: #03175f;
  stroke: #98D1FD;
  stroke-width: 3;
}
.hex-load .path {
  stroke-dashoffset: 0;
}
.right-pane {
  padding: 80px 10px 0 10px;
  text-align: center;
  font-weight: 300;
  position: relative;
}
.right-pane .title {
  font-size: 64px;
  padding: 50px 0;
  text-shadow: 0px 0px 7px rgba(95, 236, 255, 0.26);
}
.right-pane p {
  font-size: 18px;
  margin: 0 auto;
  width: 500px;
  padding: 10px;
}
.event-section {
  position: absolute;
  width: 600px;
  left: 0;
  top: 0;
  height: 647px;
  padding-top: 80px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-80px);
  transition: all 250ms ease-in;
}
.default.event-section {
  transform: translateY(0);
}
.bulb-section.default .default {
  opacity: 1;
  visibility: visible;
}
.bulb-section.c1 .event-section.c1,
.bulb-section.c2 .event-section.c2,
.bulb-section.c3 .event-section.c3,
.bulb-section.c4 .event-section.c4,
.bulb-section.c5 .event-section.c5,
.bulb-section.c6 .event-section.c6 {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.bulb-section.c1-out .event-section.c1,
.bulb-section.c2-out .event-section.c2,
.bulb-section.c3-out .event-section.c3,
.bulb-section.c4-out .event-section.c4,
.bulb-section.c5-out .event-section.c5,
.bulb-section.c6-out .event-section.c6 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(80px);
}
.subscribe {
  margin-top: 50px;
}
.subscribe p {
  font-size: 16px;
}
.subscribe input {
  margin-right: 10px;
}
.subscribe.subscribed p,
.subscribe.subscribed input {
  display: none;
}
.events-page {
  background: #041d78;
  min-height: 700px;
}
.events.container {
  width: 100%;
}
.events .dummy-filter {
  float: left;
  width: 20%;
  height: 1px;
}
.events .filter {
  float: left;
  background: #041d78;
  width: 20%;
  height: 100%;
  position: fixed;
}
.events .pane {
  float: left;
  width: 80%;
  min-height: 600px;
  background: #03175f;
  box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
  padding: 40px 20px;
  text-align: center;
}
.card {
  width: 320px;
  height: 200px;
  background: #fefefe;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  text-align: left;
  position: relative;
  border-radius: 3px;
}
.card:hover .header {
  color: white;
}
.card .header {
  color: rgba(255, 255, 255, 0.9);
  height: 80px;
  line-height: 40px;
  padding: 20px;
  border-radius: 3px 3px 0 0;
  font-weight: normal;
  cursor: pointer;
}
.card.technical .header {
  background: #ff1a1a;
}
.card.cultural .header {
  background: #00c853;
}
.card .content {
  color: #444;
  padding: 20px;
  text-align: left;
}
.card .tags {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding-right: 20px;
}
.card .tag {
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background: red;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}
.card {
  display: none;
}
.filter-technical .card.technical {
  display: inline-block;
}
.filter-cultural .card.cultural {
  display: inline-block;
}
.filter .inner {
  margin: 50px 20px;
  padding: 0 20px;
}
.filter .filter-section h2 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  margin-left: 40px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.filter .filter-section.top {
  padding-bottom: 30px;
  border-bottom: 0;
}
.filter .filter-section.bottom {
  opacity: 0;
  transform: translateX(-5px);
  transition: all 125ms ease-out;
  padding-top: 30px;
}
.filter ul li {
  padding: 10px 0;
  margin: 1px;
  line-height: 20px;
  height: 40px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.filter ul li:hover {
  color: white;
}
.filter ul .pluto {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-left: 10px;
  margin-top: 2px;
  float: left;
}
.filter ul .pluto.technical {
  border: 2px solid #ff1a1a;
}
.filter ul .pluto.cultural {
  border: 2px solid #00c853;
}
.filter ul span {
  margin-left: 15px;
}
.filter-cultural .pluto.cultural {
  background: #00c853;
  border: 0;
}
.filter-technical .pluto.technical {
  background: #ff1a1a;
  border: 0;
}
.filter-technical .filter-section.bottom {
  opacity: 1;
  transform: translateX(0);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.filter-cultural .filter-section.bottom {
  opacity: 0;
  transform: translateX(-5px);
  border-top: 0;
}
