/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  transition: all 125ms ease-out;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 600px;
  margin: 50px auto;
}
.internal-registration {
  color: #333;
}
.internal-registration h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.internal-registration h3 {
  font-size: 28px;
  margin: 50px 0 10px 0;
  color: #999;
}
.internal-registration .inputfields {
  outline: 0;
  padding: 10px 15px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
  font-size: 20px;
  background: #f9f9f9;
}
.internal-registration .inputfields:focus {
  border: 1px solid #1f78ff;
  background: white;
}
.internal-registration label {
  color: #ccc;
}
.internal-registration input[type=checkbox],
.internal-registration input[type=radio] {
  width: 20px;
  height: 20px;
  margin: 0px 10px 3px 0px;
  display: inline-block;
  vertical-align: middle;
}
.internal-registration input[type=checkbox] ~ label,
.internal-registration input[type=radio] ~ label {
  font-size: 20px;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #333;
}
.internal-registration .event-name {
  font-size: 22px;
}
.internal-registration .checkbox-box {
  margin: 5px 0;
}
.internal-registration .input-box {
  margin: 20px 0;
}
.internal-registration .errorlist {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
}
.internal-registration .radiobuttons label {
  margin-right: 40px;
}
.internal-registration .teamid-box {
  margin: 5px 0 30px 0;
  padding-left: 35px;
  display: none;
}
.internal-registration .show-teamid .teamid-box {
  display: block;
}
.internal-registration input[type=checkbox]:checked ~ .teamid-box {
  display: block;
}
.internal-registration .event-item {
  padding: 5px;
}
.internal-registration .footer {
  margin-top: 30px;
}
.internal-registration .footer .amount {
  background: #f5f5f5;
  padding: 10px;
}
.internal-registration .footer .amount h3 {
  margin: 10px 0;
}
.internal-registration .footer .amount ul li {
  font-size: 19px;
  padding: 8px 10px;
}
.internal-registration .footer .amount ul li p.price {
  display: inline-block;
  font-weight: bold;
  width: 60px;
}
.internal-registration .footer .amount ul li.total {
  font-size: 21px;
  padding: 15px 10px;
  background: #ddd;
}
.internal-registration .footer .submit-box {
  width: 100%;
  text-align: center;
}
.internal-registration .footer .submit {
  margin: 20px auto;
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background: #1f78ff;
  border: 2px solid #005deb;
  color: white;
  font-size: 22px;
  cursor: pointer;
  text-transform: uppercase;
}
.internal-registration .footer .submit:hover {
  background: #005deb;
  color: white;
}
