{% extends "magnovite/base.html" %}

{% block "content" %}
<div class="banner"></div>

<img class="image_head" src="/static/img/robotics.jpg"> <!-- /.event Image Section -->

<div class="eventDetails container">

	<div class="left-flow">
		<div class="heading"></div>
	</div>

	<div class="right-fixed">
		<!-- auto matic height increse -->
		<div class="cash-prize">Prize Worth<br/>Rs.25,000 </div>
		<div class="reg-button">Register</div>
		<div class="event-heads">
			<div class="heads">
				<img class="person-img"  src="/static/img/event_heads/event1_1.jpg">
				<div class="contact">
				</div>
			</div>
			<div class="heads">
				<img class="person-img"  src="/static/img/event_heads/event1_1.jpg">
				<div class="contact">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}