{% extends "magnovite/base.html" %}

{% load socialaccount %}

{% block "content" %}
<div class="events-page">
    <div class="banner">
        <div class="banner-inner">
            <div class="user-settings
                {% if user.is_authenticated %}logged-in{% endif %}">

                {% if user.is_authenticated %}
                    <a class="text" href="#">Hi, <em>{{ profile.name }}</em></a>
                {% else %}
                    <a class="text" href="#">Login/Register</a>
                {% endif %}

                <ul class="dropdown">
                    <li><a href="/profile/">My Account</a></li>
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="events container  filter-technical filter-cultural">
        <div class="dummy-filter"></div>

        <div class="filter">
            <div class="inner">
                <div class="filter-section top">
                    <h2>Filter</h2>
                    <ul>
                        <li class="js-technical">
                            <div class="pluto technical"></div>
                            <span>Technical</span>
                        </li>
                        <li class="js-cultural">
                            <div class="pluto cultural"></div>
                            <span>Cultural</span>
                        </li>
                    </ul>
                </div>

                <div class="filter-section bottom">
                    <ul>
                        <li>
                            <div class="pluto"></div>
                            <span>Mechanical</span>
                        </li>
                        <li>
                            <div class="pluto"></div>
                            <span>Mechanical</span>
                        </li>
                        <li>
                            <div class="pluto"></div>
                            <span>Mechanical</span>
                        </li>
                        <li>
                            <div class="pluto"></div>
                            <span>Mechanical</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pane">
            <div class="card technical">
                <div class="header">
                    <h2>Overnight Coding</h2>
                </div>
                <div class="body">
                <p class="content">
                     The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                </p>

                 <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card technical">
            <div class="header">
                <h2>Campus Ambessador</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card cultural">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card cultural">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card cultural">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card cultural">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card cultural">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card cultural">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card technical">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Robotics</h2>
            </div>
            <div class="body">
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, est!
                </p>

                <div class="tags">
                    <div class="tag"></div>
                    <div class="tag"></div>
                    <div class="tag"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block "post_js" %}
<script>
app.events.init();
</script>
{% endblock "post_js" %}
