{% extends "magnovite/base.html" %}

{% load socialaccount %}

{% block "content" %}
<div class="events-page">

    <div class="events container  filter-technical filter-cultural filter-cse
        filter-mech filter-ec filter-civil">

        <div class="dummy-filter"></div>

        <div class="filter">
            <div class="inner">
                <div class="filter-section top">
                    <h2>Filter</h2>
                    <ul>
                        <li class="js-technical">
                            <div class="pluto technical"></div>
                            <span>Technical</span>
                        </li>
                        <li class="js-cultural">
                            <div class="pluto cultural"></div>
                            <span>Cultural</span>
                        </li>
                    </ul>
                </div>

                <div class="filter-section bottom">
                    <ul>
                        <li class="js-cse">
                            <div class="pluto cse"></div>
                            <span>Computer Science</span>
                        </li>
                        <li class="js-civil">
                            <div class="pluto civil"></div>
                            <span>Civil</span>
                        </li>
                        <li class="js-mech">
                            <div class="pluto mech"></div>
                            <span>Mechanical</span>
                        </li>
                        <li class="js-ec">
                            <div class="pluto ec"></div>
                            <span>Electronics</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pane">

            {% for event in events %}
            <div class="card {{ event.type }} {{ event.class_string }}">
                <div class="header">
                    <h2>{{ event.title }}</h2>
                </div>
                <div class="body">
                    <p class="content">{{ event.quote }}</p>

                    {% if event.technical %}
                        <div class="tags">

                            {% for tag in event.tags %}
                            <div class="tag {{ tag }}"></div>
                            {% endfor %}

                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}

{% block "post_js" %}
<script>
app.events.init();
</script>
{% endblock "post_js" %}
