{% extends "magnovite/base.html" %}

{% load humanize %}

{% block "body_css_class" %}
event-details {{event.type}}-event
{% endblock %}

{% block "content" %}
<div class="event-cover">
	<div class="image" style="background: url('{{MEDIA_URL}}{{event.cover_picture}}')"></div>

	<div class="content">
		<div class="inner-content">
			<h1>{{event.title}}</h1>

			<div class="tags">
				{% for tag_obj in event.tag_assoc %}
					<div class="tag-container">
						<p>{{tag_obj.name}}</p>
						<div class="tag {{tag_obj.tag}}"></div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="page">
	<div class="container">
		<div class="pane left">
			<div class="markdown">
				<h1>Rules</h1>
				<ul>
					<li>Dont break the rules</li>
					<li>Dont break the rules</li>
					<li>Dont break the rules</li>
					<li>Dont break the rules</li>
					<li>Dont break the rules</li>
				</ul>
				<h2>Guidliens</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, veniam placeat minus aspernatur facilis doloremque!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, corporis.</p>

				<h3>Lines</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, ipsa assumenda. Tempore, laborum vero modi.</p>
			</div>
		</div>

		<div class="pane right">
			<div class="register-container">
				{% if is_registered %}
				<div class="register-button registered">
					<div class="inner">
						<div class="check"></div>
						<p>Registered</p>
					</div>
				</div>
				{% else %}
				<div class="register-button">
					<div class="inner">
						<div class="check"></div>
						<p>Register</p>
					</div>
				</div>
				{% endif %}

				<div class="team-details">
					<span class="label">Event Type</span>
					{% if event.is_team %}
						<p>Team {{event.team_min}}-{{event.team_max}}</p>
					{% else %}
						<p>Individual</p>
					{% endif %}
				</div>
			</div>

			<div class="info">
				<div class="cash">
					<span>Total Cash Prize</span>
					<p>₹ {{event.cash_prize|intcomma}}</p>
				</div>
				<ul class="points">
					<li>
						<span class="label">Date</span>
						<span>{{event.date|ordinal}} February</span>
					</li>
					<li>
						<span class="label">Time</span>
						<span>{{event.time}}</span>
					</li>
					<li>
						<span class="label">Venue</span>
						<span>{{event.venue}}</span>
					</li>
				</ul>
			</div>

			<div class="heads">
				{% for head in event.heads.all %}
				<div class="head">
					<img src="/static/img/event_heads/event1_1.jpg" alt="">
					<p class="name">{{head.name}}</p>
					<p class="details">{{head.mobile}}</p>
					<p class="details">{{head.active_email}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
