<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Internal Registration</title>
	<link rel="stylesheet" href="/static/css/internalRegistration.css">
</head>
<body>
	<div class="main-wrap">
		<div class="page-header">
			<h1>Regsitration <small>Maganovite 2015</small></h1>
		</div>
		<div id ="generalInfo">
			<h1>General information</h1>
		</div>

		<div class="form-wrap">
			<form>
				<div class="js-general-errors">
					<ul class="js-errorlist"></ul>
				</div>

				<div>
					<ul class="js-errorlist"></ul>
					<label for="name">Name</label>
					<input type="text" id="name" name="fullname" value="" placeholder="Name">
				</div>

				<div>
					<ul class="js-errorlist"></ul>
					<label for="email">Email</label>
					<input type='email' id="email" name="email" value="" placeholder="Enter you Email">
				</div>

				<div>
					<ul class="js-errorlist"></ul>
					<label for="college">College</label>
					<input type="text" id="college" name="college" value="" placeholder="College">
				</div>

				<div>
					<ul class="js-errorlist"></ul>
					<label for="mobile">Mobile</label>
					<input type="text" id="mobile" name="mobile" value="" placeholder="Mobile">
				</div>

				<div>
					<ul class="js-errorlist"></ul>
					<label for="referred">Referred By</label>
					<input type="text" name="referred" value="" placeholder="referred by">
				</div>

				<div class="js-radiobuttons">
					<ul class="js-errorlist"></ul>
					<input type="radio" id="pack" data-type="single" class="js-pack" name="pack">
					<label for="singlepack">Single Pack</label>
					<input type="radio" data-type="multiple" class="js-pack" name="pack">
					<label for="Multipack">Multi Pack</label>
				</div>

				<p>Events</p>
				<div class="js-events-wrap">
					<div class="js-events-technical">
						<h3>Technical Events</h3>
					</div>
					<div class="js-events-cultural">
						<h3>Cultural Events</h3>
					</div>
					<div class="js-events-group">
						<h3>Group Events</h3>
					</div>
					<div class="js-events-workshop">
						<h3>Workshop</h3>
					</div>
				</div>
				<div class="js-amount amount"></div>
				<input type="submit" name="Submit" class="js-submit" value="Submit">
			</form>
		</div>

	</div>
	<script type="text/template"  id="singleTemplate">
		<div>
			<ul class="js-errorlist"></ul>
			<input type="checkbox" data-price="[[price]]" class="js-events [[cssclass]]" id = "[[cssclass]]-[[id]]" />
			<label for="[[cssclass]]-[[id]]">[[title]]</label>
		</div>
	</script>
	<script type="text/template" id="teamTemplate">
		<div>
			<ul class="js-errorlist"></ul>
			<input type="checkbox" class="js-events [[cssclass]]" id = "[[cssclass]]-[[id]]" />
			<label for="[[cssclass]]-[[id]]">[[title]]</label>
			<input type="text" class="js-teamid teamid" id="tid-[[id]]"/>
		</div>
	</script>

	<script>
	{% autoescape off %}
	EVENTS = JSON.parse('{{jsonobj}}')
	{% endautoescape %}
	</script>

	<script src="/static/js/lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/internalRegistration.js"></script>

</body>

</html>
