{% extends "magnovite/base.html" %}

{% block "body_css_class" %}
transparent-banner
{% endblock "body_css_class" %}

{% block "content" %}
<div class="quest-page-outer">
<div class="quest-page">
    <div class="card-pane left-pane">
        <h2>Progress</h2>

        <ul>
            <li class="completed">Level 1</li>
            <li class="completed">Level 2</li>
            <li class="current">Level 3</li>
            <li>Level 4</li>
            <li>Level 5</li>
        </ul>
    </div>

    <div class="card-pane center-pane">
        <h2>Level 3</h2>

        <div class="images">
            <img src="http://placehold.it/250x250" alt="">
            <img src="http://placehold.it/250x250" alt="">
        </div>

        <div class="answer">
            <input type="text" placeholder="What's your guess?" id="answer">
            <button class="guess button gray" type="submit">Guess</button>
        </div>

        <div class="fb">
            <p>Like us on Facebook for hints on the questions</p>
            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2FMagnovite&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
        </div>
    </div>

    <div class="card-pane q-right-pane">
        <h2>Leaderboard</h2>

        <ul>
            <li>
                <p class="number">1</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">2</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">3</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">4</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">5</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">6</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">7</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">8</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">9</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">10</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock "content" %}
