{% extends "magnovite/base.html" %}

{% block "body_css_class" %}
transparent-banner body-quest
{% endblock "body_css_class" %}

{% block "content" %}
<div class="quest-page-outer">
<div class="quest-page">
    <div class="card-pane left-pane">
        <h2>Progress</h2>

        <ul>
            {% for quest in quests %}
            <li class="{% if quest.level < cquest.level %}completed{% endif %}
                       {% if quest.level == cquest.level %}current{% endif %}">
                Level {{quest.level}}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card-pane center-pane">
        {% if completed %}
            <h2>Congratulations!</h2>
            <div class="answer">
                <p>You have completed all the levels!</p>
            </div>
        {% else %}
            <h2>Level {{cquest.level}}</h2>

            <div class="images">
                <img src="{{cquest.img1}}" alt="">
                <img src="{{cquest.img2}}" alt="">
            </div>

            <div class="answer">
                <input type="text" placeholder="What's your guess?" class="js-answer">
                <button class="guess button gray js-button" type="submit">Guess</button>
            </div>
        {% endif %}

            <div class="fb">
                <p>Like us on Facebook for hints on the questions</p>
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2FMagnovite&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
            </div>
    </div>

    <div class="card-pane q-right-pane">
        <h2>Leaderboard</h2>

        <ul>
            <li>
                <p class="number">1</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span><em>Level 5</em>, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">2</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">3</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">4</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">5</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">6</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">7</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">8</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">9</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
            <li>
                <p class="number">10</p>
                <div class="content">
                    <p>Ahmed Azaan Hassan</p>
                    <span>Level 5, 20-Dec, 19:45</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock "content" %}
