.right-container {
	width: 80%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	background-image: url('/static/img/bg_blue.png');

	.panel {
		display: none;
		padding: 40px;
		width: 100%;
		height: 100%;

		background: rgba(3, 23, 95, 0.55);
		box-shadow: inset 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
	}

	&.profile-view .profile-right-panel {
		display: block;
	}

	&.schedule-view .info-right-panel {
		display: block;
	}

	&.help-view .help-right-panel {
		display: block;
	}

	h1 {
		font-size: 32px;
		margin-bottom: 40px;

		color: rgba(255, 255, 255, 0.95);
	}
}
