* {
    box-sizing: border-box;
    transition: all 125ms ease-out;
}

html, body {
    font-family: 'Arial', 'Helvetica', sans-srif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

a {
    color: inherit;
}

h3 {
    font-size: 24px;
}

/**
 * Common styles
 */
.button {
    display: inline-block;
    height: 40px;
    padding: 10px 40px;
    background: #000436;
    color: #7A74FF;
    text-decoration: none;
    border: 1px solid #040E83;
}

.button:hover {
    border: 1px solid #4D5AEE;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/******************************************************
 * Landing section (anim and timer)
 *****************************************************
 */
#canvas {
    background: #0a0e3e;
    vertical-align: bottom;
}

.landing {
    height: 700px;
    background: #0a0e3e;
}

.landing-bar {
    background: #010212;
    box-shadow: inset 0px 10px 50px -10px #000;
    height: 250px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.timer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .landing {
        height: auto;
    }

    #canvas {
        display: block;
        position: static;
    }

    .landing-bar {
        height: auto;
    }

    .timer {
        display: block;
        height: auto;
        position: static;
    }
}

.timer-block {
    display: inline-block;
    height: 250px;
    width: 200px;
}

@media only screen and (max-width: 767px) {
    .timer-block {
        margin: 10px 0;
        width: 150px;
    }

    .timer-block:last-child {
        display: none;
    }
}

.timer-block .numeric {
    color: rgba(16, 19, 65, 1);
    font-size: 50px;
    height: 70px;
    line-height: 70px;

    transition: all 250ms ease-in;
}

.desktop .timer-block .numeric {
    opacity: 0;
    transform: translateY(10px);
}

.desktop.logo-done .timer-block .numeric {
    opacity: 1;
    transform: translateY(0);
}

.timer-block .description {
    color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    height: 30px;
    letter-spacing: 6px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.desktop .timer-block .description {
    opacity: 0.2;
    transition: all 500ms ease-out 1000ms;
}

.desktop.logo-done .timer-block .description {
    opacity: 1;
}

.timer-block .binary {
    height: 150px;
    padding: 10px;
    text-align: center;
}

.binary .bin-col {
    display: inline-block;
    margin: 5px 5px 0 5px;
    text-indent: center;
    width: 20px;
}

.binary .dot {
    background: #0a0e3e;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    height: 10px;
    margin: 10px auto;
    width: 10px;

    transition: all 125ms ease-out;
}

.desktop .binary .dot {
    transform: translateY(10px);
    opacity: 0;
}

.desktop.logo-done .binary .dot {
    opacity: 1;
    transform: translateY(0px);
}

.desktop .binary .dot:nth-child(4) {
    transition: opacity 250ms ease-in 225ms,
                transform 125ms ease-in 225ms;
}

.desktop .binary .dot:nth-child(3) {
    transition: opacity 250ms ease-in 250ms,
                transform 125ms ease-in 250ms;
}

.desktop .binary .dot:nth-child(2) {
    transition: opacity 250ms ease-in 300ms,
                transform 125ms ease-in 300ms;
}

.desktop .binary .dot:nth-child(1) {
    transition: opacity 250ms ease-in 350ms,
                transform 125ms ease-in 350ms;
}

.binary .dot.on {
    background: #80FF00;
    border: 1px solid #969696;
    box-shadow: 0px 0px 10px 2px #2F5E00;
}

.timer-banner {
    background: #0a3900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    overflow: hidden;
    transform: translateY(-40px);
}

.timer-banner .button {
    display: inline-block;
    height: 40px;
    padding: 10px 40px;
    transition: all 450ms ease-out;
    border: 0;
}

.button.green {
    font-size: 16px;
    text-transform: uppercase;
    background: #80aa00;
    color: rgba(255, 255, 255, 0.6);
}

.timer-banner .button:hover {
    transition: all 125ms ease-out;
    cursor: pointer;
    padding: 10px 15%;
    text-align: center;
}

.game-mode .timer-banner .button {
    padding: 10px 100%;
    color: #80aa00;
}

/** logo-interacted will be added to body **/
.logo-interacted .timer-banner {
    transform: translateY(0);
}

.logo-interacted .timers {
    transform: translateY(40px);
}

/****
 * Game mode
 */
.game-mode .timer {
    transform: translateX(-100%);
}

.game-bar {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.desktop .game-bar {
    display: block;
    transform: translateX(100%);
}

.game-mode .game-bar {
    transform: translateX(0);
}

.game-bar .progress {
    width: 100%;
    height: 7px;
    background: #000;
}

.game-bar .progress-inner {
    width: 150px;
    height: 100%;
    margin: 0 auto;
}

.game-bar .progress-inner.curr {
    background: #616DFF;
}

.game-bar .progress-inner.max {
    background: #2332DF;
}

.game-bar-inner {
    width: 990px;
    height: 236px; /* 250 - 7*2 */
    margin: 0 auto;
}

.game-bar .col {
    width: 330px;
    height: 100%;
    float: left;
    color: #7679B3;
    text-align: left;

    transition: all 250ms ease-out;
}

/**
 * game-bar score
 */
.game-bar .score-col .score {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    width: 250px;
    height: 150px;
    border: 8px solid #1D28AD;
    background: #010212;

    color: #616DFF;
    font-size: 48px;
    line-height: 124px;
    text-align: center;
}

.game-bar .score-col {
    position: relative;
}

.score-col .left {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    border-right: 4px solid #1D28AD;
}

.score-col .right {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    border-left: 4px solid #1D28AD;
}

/**
 * Game bar left
 */
.game-bar .left-col {
    padding: 30px 0;
}

.game-bar .left-col p {
    margin-top: 10px;
}

.game-bar .button {
    margin: 30px 20px 0 0;
}

/**
 * Game bar right
 */
.game-bar .right-col {
    padding: 30px 0;
    text-align: center;
}

.game-bar .right-col .score-block {
    border: 2px solid #00075F;
    display: inline-block;
    width: 120px;
    height: 120px;

    margin-right: 15px;
    margin-top: 27px;
}

.game-bar .score-block h4 {
    display: block;
    color: rgba(255, 255, 255, 0.51);
    background: #1D28AD;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
}

.game-bar .score-block p {
    height: 76px;
    background: #00021D;
    box-shadow: inset 0px 0px 20px #000;
    line-height: 76px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.81);
}

.game-bar .score-block.curr p {
    font-weight: bold;
}

.game-playing .game-bar .left-col {
    transform: translateX(-50%);
    opacity: 0;
}

.game-playing .game-bar .right-col {
    transform: translateX(50%);
    opacity: 0;
}

/*Score Reset Button positioning */
.js-reset {
    float: right;
}
