@page_width: 1100px;

@cover_image_height: 450px;
@cover_content_height: 150px;

@detail_tag_size: 50px;

// edit the banner
body.event-details .banner {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);

	.text:hover {
		background: rgba(255, 255, 255, 0.3);
	}

	.dropdown li {
		background: rgba(0, 0, 0, 0.6);

		&:hover {
			background: rgba(255, 255, 255, 0.3);
		}
	}
}

.event-cover {
	position: relative;

	.image {
		background: cover;
		width: 100%;
		height: @cover_image_height;
	}

	.content {
		height: @cover_content_height;
		background: linear-gradient(transparent, rgba(0, 0, 0, 1));
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.inner-content {
		width: @page_width;
		margin: 0 auto;
		height: 100%;
		padding-top: 30px;
	}

	h1 {
		color: rgba(255, 255, 255, 0.95);
		font-weight: 300;
		font-size: 72px;
		height: 100px;
		float: left;
		line-height: 100px;
		margin-left: 20px;
	}

	.tags {
		float: right;
		width: 400px;
		height: 100px;
		text-align: right;
		padding-right: 50px;

		.tag-container {
			width: @detail_tag_size + 20px;
			height: 100%;
			display: inline-block;
			position: relative;

			&:hover p {
				color: white;
			}
		}

		p {
			color: rgba(255, 255, 255, 0.25);
			float: left;
			transform: rotate(-45deg);
			width: 200px;
			text-align: left;
			margin-bottom: 40px;
			position: absolute;
			left: 10px;
			bottom: 70px;
		}

		.tag {
			width: @detail_tag_size;
			height: @detail_tag_size;
			border-radius: @detail_tag_size;
			position: absolute;
			bottom: 0;
			left: 0;

			&.cse {
				background: @color_cse;
			}

			&.ec {
				background: @color_ec;
			}

			&.mech {
				background: @color_mech;
			}

			&.civil {
				background: @color_civil;
			}
		}
	}
}

.page {
	width: 100%;
	background: @dark_blue;

	.container {
		width: @page_width;
		margin: 0 auto;
		padding-bottom: 100px;
	}

	.pane {
		float: left;
		width: 100%;
		min-height: 1px;
	}

	.left {
		width: 60%;


		.markdown {
			padding: 40px 20px;
			color: rgba(255, 255, 255, 0.8);

			*:first-child {
				margin-top: 0;
			}

			h1, h2, h3, h4, h5, h6 {
				display: block;
				margin: 40px 0 10px 0;
				font-weight: 300;
				color: rgba(255, 255, 255, 0.9);
			}

			h1, h2 {
				font-size: 40px;
			}

			h3, h4 {
				font-size: 24px;
			}

			h5, h6 {
				font-size: 18px;
			}

			p, ul, ol {
				display: block;
			}

			ul {
				list-style: disc;
				margin-left: 20px;
			}

			ol {
				list-style: decimal;
				margin-left: 20px;
			}

			p, ol, ul {
				margin-top: 10px;
				margin-bottom: 10px;
			}

			em {
				font-style: italic;
			}

			strong {
				font-weight: bold;
			}
		}
	}

	.right {
		color: rgba(255, 255, 255, 0.8);
		width: 40%;
		box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);

		.register-container {
			@row_height: 100px;
			text-align: center;
			overflow: hidden;

			.register-button {
				float: left;
				width: 60%;
				height: @row_height;
				vertical-align: middle;

				.inner {
					text-align: center;
					height: 50px;
					padding-left: 50px;
					margin-top: 27px;
					overflow: hidden;
				}

				.check {
					float: left;
					width: 40px;
					height: 40px;
					border-radius: 40px;
				}

				p {
					float: left;
					font-size: 28px;
					margin-top: 10px;
					margin-left: 10px;
				}

				&:hover {
					cursor: pointer;
				}

				&.registered .inner {
					padding-left: 40px;
				}
			}

			.team-details {
				float: left;
				width: 40%;
				height: @row_height;
				padding-right: 10px;

				span {
					font-size: 14px;
					height: 40px;
					display: block;
					padding-top: 25px;
				}

				p {
					padding-top: 10px;
					font-size: 28px;
					height: 60px;
				}
			}
		}

		.info {
			overflow: hidden;

			.cash {
				float: left;
				width: 40%;
				height: 110px;
				padding: 20px;

				span {
					display: block;
					font-size: 14px;
					text-align: center;
					margin-bottom: 5px;
					margin-top: 4px;
					color: rgba(255, 255, 255, 0.45);
				}

				p {
					color: rgba(255, 255, 255, 0.95);
					font-size: 30px;
					text-align: center;
				}
			}

			.points {
				float: left;
				width: 60%;
				height: 110px;
				padding: 20px 0 20px 40px;

				span.label {
					color: rgba(255, 255, 255, 1);
					width: 50px;
					display: inline-block;
					text-align: right;
					margin-right: 5px;
				}
			}
		}

		.heads {
			padding: 40px 0;
			overflow: hidden;
			@head_img_size: 100px;

			.head {
				width: 50%;
				float: left;
				padding: 20px 10px;
			}

			img {
				width: @head_img_size;
				height: @head_img_size;
				border-radius: @head_img_size;
				margin: 0 auto;
				margin-bottom: 20px;
				display: block;
			}

			p {
				text-align: center;

				&.name {
					font-weight: bold;
					color: rgba(255, 255, 255, 0.9);
				}

				&.details {
					font-size: 16px;
				}
			}
		}
	}
}

.technical-event {
	.right {
		background: @details_tech_dark_dark;
	}

	.info {
		background: @details_tech_dark;
	}

	.team-details {
		background: @details_tech_dark;
	}

	.register-button {
		background: @details_tech_2;

		.check {
			background: darken(@details_tech_2, 5%);
		}

		&:hover .check {
			background: darken(@details_tech_dark_dark, 5%);
		}

		&:hover,
		&.registered {
			background: @details_tech_dark_dark;
		}
	}
}

.cultural-event {
	.right {
		background: @details_cult_dark_dark;
	}

	.info {
		background: @details_cult_dark;
	}

	.team-details {
		background: @details_cult_dark;
	}

	.register-button {
		background: @details_cult_2;

		.check {
			background: darken(@details_cult_2, 5%);
		}

		&:hover .check {
			background: darken(@details_cult_dark_dark, 5%);
		}

		&:hover,
		&.registered {
			background: @details_cult_dark_dark;
		}
	}
}
